<div class="row mt-3">
    <div class="col-sm-6 offset-sm-3">
        <form (ngSubmit)="login()" #loginForm="ngForm">
            <div class="form-group">
                <label for="email">Username</label>
                <input type="text" class="form-control" id="username" required="required" [(ngModel)]="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" required="required" [(ngModel)]="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
        </form>
    </div>
</div>