<div>
    <div *ngIf="!generations">Loading...</div>
    <div *ngIf="generations && generations.length === 0">Pokedex is empty</div>
    <table class="table" style="width: auto" *ngIf="generations && generations.length">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">
                <span *ngIf="users.user1.pokemonCount > users.user2.pokemonCount">🥇</span>
                {{users.user1.name}} ({{users.user1.pokemonCount}})
            </th>
            <th scope="col">
                <span *ngIf="users.user2.pokemonCount > users.user1.pokemonCount">🥇</span>
                {{users.user2.name}} ({{users.user2.pokemonCount}})
            </th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let generation of generations">
            <tr>
                <th colspan="4">{{generation.name}}</th>
            </tr>
            <tr *ngFor="let pokemon of generation.pokemons">
                <td>
                    <img [src]="pokemon.imgUrl" style="width:50px;height:50px" />
                </td>
                <td>
                    {{pokemon.number}}<br />
                    {{pokemon.name}}<br />
                    {{pokemon.name2}}
                </td>
                <td class="pokemon-check">
                    <input class="form-check-input" type="checkbox" 
                    [checked]="pokemon.user1" (change)="checkedChanged($event, pokemon, 1)"
                    [disabled]="!isEditMode()">
                </td>
                <td class="pokemon-check">
                    <input class="form-check-input " type="checkbox" 
                    [checked]="pokemon.user2" disabled="disabled">
                </td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>